/* Dark theme */
body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  border: solid 1px #eee;
}

.container .container-item {
  border: solid 1px #eee;
  padding: 10px;
  user-select: none;
  word-wrap: break-word;
}

.container .container-item.container-item-small {
  border: solid 1px #eee;
  padding: 5px;
}

.container .container-item:hover {
  background-color: #3b3b3b;
}

.container .container-item:active {
  background-color: #2b2b2b;
}

input.console-input {
  width: 100%;
  border: none;
  background-color: #3b3b3b;
  padding: 5px;
  height: 32px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
  color: white;
}

.server-list {
  width: 100%;
  table-layout: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.server-list tr {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.server-list .server-list-header {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.server-list .server-list-header .server-list-header-item {
  border: solid 1px #eee;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.server-list .server-list-item {
  border: solid 1px #eee;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.server-list .server-list-item button.server-list-item-button {
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding: 5px;
  font-size: 12px;
  font-family: monospace;
}

.server-list .server-list-item button.server-list-item-button:hover {
  background-color: #2b2b2b;
  cursor: pointer;
}

.server-list .server-list-item button.server-list-item-button:active {
  background-color: #1a1a1a;
}

input {
  border: none;
  background-color: #3b3b3b;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 12px;
  color: white;
}

input:disabled {
  background-color: #1a1a1a;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

select {
  border: none;
  background-color: #3b3b3b;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 12px;
  color: white;
}

.server-editor {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

div.panel-list {
  width: 25%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

div.panel-list-item {
  border: solid 1px #eee;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  user-select: none;
}

div.panel-list-item:hover {
  cursor: pointer;
  background-color: #3b3b3b;
}

div.server-editor-content {
  width: 100%;
  height: 100%;
}

iframe {
  /* border: none;
  padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #2b2b2b;
  cursor: pointer;
}

#properties-editor {
  padding: 10px;
}